Repository Data-Science-Nigeria/ai-dpi-sandbox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,mdx,yaml,yml}": ["prettier --write"]
}

feat: add create user form and better error message format
  app/admin/components/create-user-modal.tsx
  app/utils/get-api-error-message.tsx
Due: prettier --write, eslint --fix

feat: add syntax highlighter
  app/(sandbox)/introduction/services/components/connection-icon.tsx
  app/(sandbox)/introduction/services/components/request-composer.tsx
  app/(sandbox)/introduction/services/components/response-viewer.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: add responsive behaviour
  app/(sandbox)/introduction/services/components/request-composer.tsx
  app/(sandbox)/introduction/services/components/response-viewer.tsx
Due: prettier --write, eslint --fix

fix: add responsive behaviour
  app/(sandbox)/introduction/services/ai/page.tsx
  app/(sandbox)/introduction/services/bvn/page.tsx
  app/(sandbox)/introduction/services/components/code-block.tsx
  app/(sandbox)/introduction/services/ivr/page.tsx
  app/(sandbox)/introduction/services/nin/page.tsx
  app/(sandbox)/introduction/services/sms/page.tsx
  app/(sandbox)/introduction/services/two-way-sms/page.tsx
  app/globals.css
Due: prettier --write, eslint --fix

fix: remove .env file from version control
  .env
Due: none

feat: add .env.example and update .gitignore
  .env.example
  .gitignore
Due: none

fix: update api documentation
  app/(sandbox)/docs/page.tsx
  app/(sandbox)/introduction/services/ai/page.tsx
  app/(sandbox)/introduction/services/bvn/page.tsx
  app/(sandbox)/introduction/services/components/language-selector.tsx
  app/(sandbox)/introduction/services/ivr/page.tsx
  app/(sandbox)/introduction/services/nin/page.tsx
  app/(sandbox)/introduction/services/sms/page.tsx
  app/(sandbox)/introduction/services/two-way-sms/page.tsx
Due: prettier --write, eslint --fix

fix: update api documentation
  app/(sandbox)/introduction/services/ai/page.tsx
  app/(sandbox)/introduction/services/sms/page.tsx
Due: prettier --write, eslint --fix

fix: code change
  app/(sandbox)/introduction/services/components/connection-icon.tsx
Due: prettier --write, eslint --fix

fix: code change
  .env.example
  app/(sandbox)/introduction/services/ai/page.tsx
  app/(sandbox)/introduction/services/bvn/page.tsx
  app/(sandbox)/introduction/services/ivr/page.tsx
  app/(sandbox)/introduction/services/nin/page.tsx
  app/(sandbox)/introduction/services/sms/page.tsx
  app/(sandbox)/introduction/services/two-way-sms/page.tsx
  lib/env.ts
  next.config.js
Due: prettier --write, eslint --fix

Create frontend-deployment.yml
  .github/workflows/frontend-deployment.yml
Due: prettier --write

Update frontend-deployment.yml
  .github/workflows/frontend-deployment.yml
Due: prettier --write

fix: code change
  app/(sandbox)/introduction/data/data.ts
  app/(sandbox)/introduction/services/ivr/call/page.tsx
  app/(sandbox)/introduction/services/ivr/menu/page.tsx
  app/(sandbox)/introduction/services/two-way-sms/receive/page.tsx
  app/(sandbox)/introduction/services/two-way-sms/send/page.tsx
  app/(sandbox)/lib/navigation.ts
  app/admin/active-users/page.tsx
  app/admin/components/create-user-modal.tsx
  app/admin/components/edit-user-modal.tsx
  app/admin/components/reset-password-modal.tsx
  app/admin/dashboard/page.tsx
  app/admin/deactivated-users/page.tsx
  app/admin/manage-users/page.tsx
  app/admin/reset-password/page.tsx
  app/admin/services/components/list-services.tsx.bak
  app/admin/services/components/refresh-services.tsx.bak
  app/admin/services/page.tsx.bak
  app/auth/components/protect-route.tsx
  app/auth/signin/components/signin-form.tsx
  app/hooks/use-logout.ts
  client/@tanstack/react-query.gen.ts
  client/sdk.gen.ts
  client/types.gen.ts
  openapi-ts-error-1757596903591.log
  openapi-ts-error-1757596939373.log
Due: prettier --write, eslint --fix

fix: code change
  .github/workflows/frontend-deployment.yml
Due: prettier --write

feat: add yml file
  .github/workflows/frontend-deployment.yml
Due: prettier --write

fix: code change
  app/(sandbox)/components/sidebar.tsx
  app/(sandbox)/docs/page.tsx
  app/(sandbox)/introduction/data/data.ts
  app/(sandbox)/lib/navigation.ts
  openapi-ts-error-1757618627665.log
  scripts/generate-endpoint-pages.js
Due: prettier --write, eslint --fix

fix: code change
  app/(sandbox)/components/sidebar.tsx
  app/(sandbox)/docs/page.tsx
  app/(sandbox)/introduction/data/data.ts
  app/(sandbox)/lib/navigation.ts
  scripts/generate-endpoint-pages.js
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

fix: code change
  .env
  .gitignore
Due: none

fix: code change
  .env
  .env.example
  app/(sandbox)/introduction/services/ai/page.tsx
  app/(sandbox)/introduction/services/bvn/page.tsx
  app/(sandbox)/introduction/services/ivr/page.tsx
  app/(sandbox)/introduction/services/nin/page.tsx
  app/(sandbox)/introduction/services/sms/page.tsx
  app/(sandbox)/introduction/services/two-way-sms/page.tsx
  lib/env.ts
  next.config.js
Due: prettier --write, eslint --fix

fix: remove .env from tracking and update .gitignore
  .env
  .gitignore
Due: none

fix: code change
  .github/workflows/frontend-deployment.yml
  app/(sandbox)/introduction/data/data.ts
  app/(sandbox)/introduction/services/bvn/banks/page.tsx
  app/(sandbox)/introduction/services/bvn/lookup/page.tsx
  app/(sandbox)/introduction/services/bvn/match/page.tsx
  app/(sandbox)/introduction/services/bvn/status/page.tsx
  app/(sandbox)/introduction/services/bvn/verify/page.tsx
  app/(sandbox)/introduction/services/nin/lookup/page.tsx
  app/(sandbox)/introduction/services/nin/status/page.tsx
  app/(sandbox)/introduction/services/nin/verify/page.tsx
  app/(sandbox)/lib/navigation.ts
  client/@tanstack/react-query.gen.ts
  client/client.gen.ts
  client/sdk.gen.ts
  client/types.gen.ts
  scripts/generate-endpoint-pages.js
Due: prettier --write, eslint --fix

fix: code change
  scripts/generate-endpoint-pages.js
Due: prettier --write, eslint --fix

feat: add client file
  app/(sandbox)/introduction/data/data.ts
  app/(sandbox)/introduction/services/bvn/banks/page.tsx
  app/(sandbox)/introduction/services/bvn/lookup/page.tsx
  app/(sandbox)/introduction/services/bvn/match/page.tsx
  app/(sandbox)/introduction/services/bvn/status/page.tsx
  app/(sandbox)/introduction/services/bvn/verify/page.tsx
  app/(sandbox)/introduction/services/nin/lookup/page.tsx
  app/(sandbox)/introduction/services/nin/status/page.tsx
  app/(sandbox)/introduction/services/nin/verify/page.tsx
  app/(sandbox)/lib/navigation.ts
  client/@tanstack/react-query.gen.ts
  client/client.gen.ts
  client/sdk.gen.ts
  client/types.gen.ts
Due: prettier --write, eslint --fix

feat: add client file
  .env
  client/client.gen.ts
  client/types.gen.ts
Due: prettier --write, eslint --fix
